(js/index.js, js/menu.js, html/biblioteca.html, html/cinema.html, html/galeria.html, html/index.html, html/login.html, html/pagina-inicial.html, js/login.js, style/index.css, style/login.css, style/pagina-inicial.css)