@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, darkred, red);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
#contador {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

#titulo {
  margin-bottom: 20px;
}

section {
  text-align: center;
}

button {
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px 50px;
}

.botaosim {
  background-color: green;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: background-color 200ms;
}

.botaosim:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.botaonao:hover {
  transform: translate(-200px, -200px);
}
