@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, darkred, red);
    height: 80vh;
    width: 100vw;
}

body h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 20vh 0px;
}

#contador {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 20vh 0px;
}

section {
    text-align: center;
    margin: auto;
}

button {
    margin: 0px 10vw;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 20px 50px;
}

.botaosim {
    background-color: green;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 2px black;
    transition: 200ms;
}

.botaosim:hover {
    background-color: greenyellow;
    transition: 200ms;
}

.botaonao:hover {
    transform: translate(-100px, -100px);
}