@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #ff78ac, #80163e);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.container h1 {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.input-label {
  align-self: flex-start;
  margin-bottom: 5px;
}

.input {
  width: 93%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #80163e;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
  transition: background-color 200ms;
}

.button:hover {
  background-color: #ff78ac;
  cursor: pointer;
}
