@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: cabecalho;
  src: url(../fonts/Love_Light/LoveLight-Regular.ttf);
}

@font-face {
  font-family: corpo;
  src: url(../fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
}

body {
  background-image: linear-gradient(to bottom, #ff78ac, #80163e);
}

header {
  background-image: linear-gradient(to bottom, #cc2364, #80163e);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

header h1 {
  text-align: center;
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 2px black;
  font-size: 3em;
  padding: 10px 0px 0px 0px;
}

header > h1 > a {
  text-decoration: none;
  color: white;
  font-family: cabecalho;
}

.burguer {
  display: block;
  text-align: center;
}

.burguer img {
  cursor: pointer;
  background-color: #cc2364;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  transition: 200ms;
}

.burguer img:hover {
  background-color: #80163e;
}

nav {
  text-align: center;
  display: none;
  background-color: #cc2364;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 5);
  margin: 10px 0px;
  transition: 200ms;
}

nav:hover {
  background-color: #80163e;
}

nav p {
  display: block;
  padding: 10px;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px black;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
  transition: 200ms;
}

nav a:hover {
  background-color: #cc2364;
  border-radius: 5px;
  padding: 5px;
}

main {
  min-width: 300px;
  max-width: 600px;
  background-color: white;
  margin: 10px auto;
  text-align: justify;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

main h1 {
  padding: 5px;
  background-image: linear-gradient(
    to right,
    hsla(337, 100%, 74%, 0.5),
    transparent
  );
  margin: 10px 0px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px white;
  font-family: corpo;
  font-size: 2em;
}

main abbr {
  text-decoration: none;
}

main h2,
main h3,
main h4,
main h5,
main h6 {
  padding: 5px;
  margin: 10px 0px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px white;
}

main h2 {
  font-size: 1.5em;
}

main h3 {
  font-size: 1.17em;
}

main p {
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.5em;
  margin: 5px 0px 10px 0px;
}

footer p {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px black;
}
